/* Picture-text config */
* {
	box-sizing: border-box;
}
body, h1, h2, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
		}
body, html {
	height: 100%;
	margin: 0;
}
p {
	line-height: 1;
	font-size: 15px;
	font-weight: lighter;
}
div {
	display: block;
		}
.img, .img2 {
	min-height: 100%;
	background-position: center;
	background-size: cover;
}
.img {
	background-image: url("../img/wedd.jpg");
}
.img2 {
	background-image: url("../img/flow.jpg");
}
/* First picture */
.grayscale {
	filter: grayscale(50%);
}

header {
	display: block;
}
.text_content {
	text-align: center;
	letter-spacing: 6px;
	color: white;
	font-size: 30px;
}
#text_size {
	font-size: 28px;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* Buttom group nav */
nav {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: rgb(242, 242, 242, 0.6)
}
ul:hover {
	background-color: white;
}
li {
	float: left;
	width: 25%;
}
li a {
	text-decoration: none;
	outline: 0;
	text-align: center;
	display: block;
	padding: 10px 14px;
	margin: 6px 6px;
	color: black;
}
li a:hover {
	background-color: #ccc;
}
#black_table:hover {
	background-color: black;
	color: white;
}
/* About */

.pink_bgc {
	background-color: #ffdddd;
}
.about_container {
	padding-top: 64px;
	padding-bottom: 64px;
}
.img_raund {
	border-radius: 4px;
}
#container_width {
	max-width: 980px;
	margin: auto;
}
#text_title {
	color: gray;
	text-align: center;
}
#content_p {
	line-height: 2;
	font-style: italic;
	text-align: justify;
}
#button_wedding {
	background-color: black ;
	color: white ;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	padding: 20px 24px;
	font-size: 18px;
}
#button_wedding:hover {
	background-color: gray;
	color: black;
}
/* Secondary Picture */
.text_relative {
    color: white;
    text-align: center;
    font-size: 30px;
}

/* Wedding spot */
.text_left {
	float: left;
	width: 50%;
	text-align: center;
}
#line_height {
	line-height: 1.8;
}
.container_padding {
	padding-top: 64px;
	padding-bottom: 250px;
}
/* RSVP */
.lightpink {
	background-color: #ffdddd;
	padding-top: 64px;
	padding-bottom: 64px;
}
#rsvp_title {
	font-size: 36px;
	text-align: center;
	letter-spacing: 4px;
}
#rsvp_content {
	text-align: center; 
	letter-spacing: 4px; 
	font-size: 18px
}
#button_box {
	text-align: center;
}
button, #button_rsvp {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 18px 60px;
	margin: 4px 2px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	font-size: 24px;
}
#button_rsvp:hover {
	background-color: #ccc;
	color: black;
}
/*Footer container*/
#footer_container {
	background-color: black;
	padding-top: 24px;
	padding-bottom: 24px;
}  
#footer_text {
	text-align: center;
	color: white;
}
#w3css:link {
    color: white;
	text-decoration: none;
}
#w3css:hover {
	color: green;
}
/* Clear-Spot */
#clearspot {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: white;
}