/* Html and body config */

body,html {
    height: 100%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.color_gray {
    background-color: #333333;
}
.navbar_color {
    background-color: #232323;
}
.text_gray {
    color: #c0bab6 !important;
}
/* Footer */
.dot_line li {
    border-bottom: 1px dotted gray;
    padding: 4px 0;
    font-size: 14px;
}
.dot_line li a {
    color: #666666;
    text-decoration: none;
    background: url(../img/orange_file.gif) no-repeat left 10px;
    padding: 5px 10px 5px 10px;
}   
.dot_line {
    list-style-type: none;
    padding: 0;
}
.text_bottom {
    text-align: right;
}
.text_right {
    text-align: right;
}
.line_height {
    line-height: 0;
}
.float_left {
    float: left;
}
/* Responsive */
@media (max-width: 575.98px) { 
    .toptext {
        text-align: center;
    }
    .navbar {
        justify-content: center;
    }
    .copyright_text {
        text-align: center !important;
    }
    .float_left {
        float: none;
        text-align: center;
        margin-right: 0 !important;
    }
 }
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .toptext {
        text-align: center;
    }

  }






